<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">These are your account details</h1>
    <div>
      <img src="<%= user.picture %>" />
    </div>
    
    <pre><%= JSON.stringify(user,null,2) %></pre>
    <hr>
    <pre><%= JSON.stringify(data, null, 2) %></pre>
    <hr>
    <p>Access Token:</p>
    <pre><%=token%></pre>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a File</a>
  </div>
</div>

<%- include('partials/footer') %>
